*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  /* background: green; */
  padding: 20px 50px;
  overflow: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}


.tertiary {
  color: #242424b5;
}
